@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

.test-card-group::-webkit-scrollbar{
  display: none;
}
.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  animation: slideIn 10s ease-in finite;
}
.edu-card, .exp-card{
  border-left:0.5px rgb(219, 219, 219) solid;
  border-bottom:0.5px rgb(219, 219, 219) solid;
}

.active{
  transform: rotate(45deg);
}

@keyframes slideIn {
  0%{
    background: yellow;
  }
  100%{
    background: blue;
  }
}

.project-container:hover .project-description{
  opacity: 0.9;
}