@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

.test-card-group::-webkit-scrollbar{
  display: none;
}
.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
}
.edu-card, .exp-card{
  border-left:0.5px rgb(219, 219, 219) solid;
  border-bottom:0.5px rgb(219, 219, 219) solid;
}

.active{
  transform: rotate(45deg);
}

.project-container:hover .project-description{
  opacity: 0.9;
}

#resume{
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.507)), url("/resume.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}
@media (max-width: 680px){
    .desktop-menu{
      display: none;
    }
}
@media (min-width: 680px){
    .mobile-menu{
      display: none;
    }
}